<% if user_signed_in? %>
  <div class="flex justify-between items-center">
   <h2 class="font-bold base-text">Postcards</h2>
      <%= link_to "New Postcard", new_note_path, class: "button cursor-pointer" %>
  </div>
  <% @notes.each do |note| %>
    <div>
        <%= render(NoteComponent.new(note: note)) %>
    </div>
  <% end %>
<% end %>
