<h1>Memento Mori</h1>


    <%= link_to "About Us", about_path, class: "button" %>

    <%= link_to "New Note", new_note_path, class: "button" %>

  <% @notes.each do |note| %>
    <div class="p-4 border rounded m-4">
        <%= render(NoteComponent.new(note: note)) do %>
    <% end %>
    </div>
  <% end %>


