<h1 class="base-text">Memento Mori</h1>
       <%= render(NavigationComponent.new) do %>
    <% end %>
 <% if user_signed_in? %>
  <% @notes.each do |note| %>
    <div class="p-4 border rounded m-4 bg-amber-50">
        <%= render(NoteComponent.new(note: note)) do %>
    <% end %>
    </div>
  <% end %>
<% end %>

