<h1>Memento Mori</h1>

    <%= link_to "About Us", about_path %>

  <% @notes.each do |note| %>
    <div>
        <%= render(NoteComponent.new(note: note)) do %>
    <% end %>
    </div>
  <% end %>

<%= link_to "New Note", new_note_path %>
