<div id="<%= dom_id candle %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= candle.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lit:</strong>
    <%= candle.lit %>
  </p>

</div>
