<div id="<%= dom_id candle %>">
  <p class="my-5">
    <strong class="base-text">Name:</strong>
    <%= candle.name %>
  </p>

  <p class="my-5">
    <strong class="base-text">Lit:</strong>
    <%= candle.lit %>
  </p>

</div>
