<div class="w-full">
  <% content_for :title, "Candles" %>
  <div class="flex justify-between items-center">
    <h2 class="base-text">Candles</h2>
    <%= link_to "New candle", new_candle_path, class: "button" %>
  </div>

    <% @candles.each do |candle| %>
    <div>
        <%= render(CandleComponent.new(candle: candle)) do %>
    <% end %>
    </div>
  <% end %>
</div>
