<div class="mx-auto md:w-2/3 w-full flex relative">
  <div class="relative w-full">
    <%= button_to @candle, method: :delete, class: "absolute top-7 left-10 bg-red-800 px-2 rounded-3xl hover:text-red-800 text-amber-50 hover:bg-amber-50 z-10" do %>
      <i class="fa-solid fa-xmark text-sm"></i>
    <% end %>
    <%= render(CandleComponent.new(candle: @candle)) %>
    <div class="text-center mt-6"> 
      <%= link_to "Update this candle?", edit_candle_url(@candle), class: "button" %>
    </div>
  </div>
</div>
