<% if user_signed_in? %>
<h2 class="base-text">About Us</h2>
<%= link_to "https://988lifeline.org", target: "_blank", class: "m-6 p-2 text-center rounded bg-amber-50 font-serif block no-underline hover:motion-safe:animate-pulse" do %>
  <div>
    If you or someone you know is struggling with thoughts of suicide, please call, text, or chat 988 for the Suicide and Crisis Lifeline.
  </div>
<% end %>

  <div class="bm-6 p-2 rounded bg-amber-50 text-center font-serif">
    <p>
      <strong>The mission of Memento Mori is to normalize grief.</strong> Even though grief is a universal human experience that will eventually impact us all (if it hasn't already), there are very few everday avenues to publicly express grief.
    </p>
      <i class="fa-solid fa-skull"></i>
    <p>
      In 2022, I lost my dad to suicide. Over night, I inadvertently became an advocate for suicide prevention, mental illness, and grief. While navigating my own grieving process, however, I often found that I felt uncomfortable expressing my grief around others. I longed for an avenue where I could freely express the weight of carrying such a massive loss with me every day. I wanted to know my grief <strong>mattered</strong> in the world.
    </p>
      <i class="fa-solid fa-fire-flame-curved"></i>
    <p>
      Over time, I noticed something interesting. The one place where I felt I could go to make my grief known was social media. In between the banal Instagram posts of sunsets, lattes, and #ootds, I would post notes addressed to my dead dad. Even though I'm fairly certain my dad isn't actually reading my posts, addressing captions to him met a very ancient impulse to commune with the departed. I began noticing notes addressed to dead loved ones across my social media feeds and realized we were all scratching that very same human itch. While funeral homes often have virutal obituary sites, activity tends to fall off by the time of the funeral and I found the cursive fonts and common imagery of angel wings and swans on placid lakes to be alienating and far from the actual lived experience of my grief. 
    </p>
      <i class="fa-solid fa-envelope"></i>
    <p class="font-extrabold">
      With Memento Mori, you can anonymously write postcards on our Postcards page to anyone who isn't here any longer and have your words displayed on our feed. On our Candles page, you can light virtual candles to honor the departed. Here, your grief will find community with others navigating the hard, never-ending work of missing those we love.
    </p>
  </div>
  
  <div class="text-sm font-serif bg-amber-50 text-center rounded m-6">
    <p class="p-1">
      Please note that any postcards containing racist, homophobic, misogynistic, transphobic, xenophobic, ableist, or otherwise abusive content will be removed. 
    </p>
    <p class="pb-1">
      Bigots will not be granted entry into our little corner of the Great Beyond. 
    </p>
  </div>
<% end %>
