<h1 class="text-amber-50">About Us</h1>
  <%= link_to "Home", notes_path, class: "button" %>
      <div class="m-6 p-2 rounded bg-amber-50">
    If you or someone you know is struggling with thoughts of suicide, please call, text, or chat 988 for the Suicide and Crisis Lifeline. 
    </div>
    <div class="text-amber-50">
        In 2022, I lost my dad to suicide. Over night, I inadvertently became an advocate for suicide prevention, mental illness, and grief. 
<br>
        The aim of Memento Mori is to normalize grief. 
    </div>
    <div class="text-sm bg-amber-50 rounded p-2 m-6">
        Please note that any postcards containing racist, homophobic, misogynistic, transphobic, xenophobic, ableist, or otherwise abusive content will be removed. Bigots will not be granted entry into our little corner of the Great Beyond. 
    </div>
