<h1 class="base-text">About Us</h1>
       <%= render(NavigationComponent.new) do %>
    <% end %>

      <div class="m-6 p-2 rounded bg-amber-50 font-serif">
    If you or someone you know is struggling with thoughts of suicide, please call, text, or chat 988 for the Suicide and Crisis Lifeline. 
    </div>
    <p class="base-text">
    <strong class="base-text">The mission of Memento Mori is to normalize grief.</strong> Even though grief is a universal human experience that will eventually impact us all (if it hasn't already), there are very few everday avenues to publicly express grief. 
    </p>
    <p class="base-text">
    In 2022, I lost my dad to suicide. Over night, I inadvertently became an advocate for suicide prevention, mental illness, and grief. 
    </p>
    <div class="text-sm font-serif bg-amber-50 rounded p-1 m-6">
    <p>
        Please note that any postcards containing racist, homophobic, misogynistic, transphobic, xenophobic, ableist, or otherwise abusive content will be removed. 
        </p>
        <p>
        Bigots will not be granted entry into our little corner of the Great Beyond. 
        </p>
    </div>
